* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }
  
  .navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar__container {
    display: flex;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }
  
  #navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
    
  /* Hero Section */
  .hero {
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 200px 0;
  }
  
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
  }
  
  .hero__heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: #fff;
  }
  
  .hero__heading span {
    background: #ee0979;
    background: -webkit-linear-gradient(
      to right,
      #ff6a00,
      #ee0979
    ); 
    background: linear-gradient(
      to right,
      #ff6a00,
      #ee0979
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
  }
  @media screen and (max-width: 768px) {
    .hero__heading {
      font-size: 60px;
    }
  }

  /* Gallery Section */
  .services {
    background: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
  }
  
  .services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  
  .services__card {
    margin: 1vw;
    height: 500px;
    width: 400px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* color: #fff;
    background-image: url('https://picsum.photos/id/0/5000/3333');
    background-size: cover; */
    transition: 0.3s ease-in;
  }

  .services__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  @media screen and (max-width: 1300px) {
    .services__wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 700px) {
    .services__wrapper {
      grid-template-columns: 1fr;
    }
  }

  .full__img {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  .full__img img {
    width: 90%;
    max-width: 1000px;
  }
  .full__img span {
    position: absolute;
    top: 10%;
    right: 3%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
  .full__img span:nth-child(3){
    position: absolute;
    top: 50%;
    left: 3%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
  .full__img span:nth-child(4){
    position: absolute;
    top: 50%;
    right: 3%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
  .full__img span:nth-child(5){
    position: absolute;
    top: 90%;
    right: 50%;
    font-size: 30px;
    color: #fff;
    cursor:text;
  }
